.navbar-spacer {
    height: 51px;
}

.thank-you-message {
    margin-top: 200px;
}

.validation-error {
    border-color: red;
}

.sub-brand {
    font-size: 12px;
    position: relative;
    top: -6px;
}

.navbar-brand {
    padding-top: 8px;
}

a.inactive {
  color: gray;
}
