.navbar-spacer {
    height: 51px;
}

.thank-you-message {
    margin-top: 200px;
}

.validation-error {
    border-color: red;
}

.sub-brand {
    font-size: 12px;
    position: relative;
    top: -6px;
}

.navbar-brand {
    padding-top: 8px;
}

a.inactive {
  color: gray;
}

.legal {
  border: 1px solid black;
  padding: 5%;
  margin-bottom: 10px;
}

.back,
.next,
.submit-application {
  margin-top: 10px;
}
