{% extends 'layout.html' %}
{% load bootstrap3 %}
{% block body %}
<div class="jumbotron">
  <div class="container">
    <h1>Membership Application</h1>
    <p></p>
    <p><a class="btn btn-primary btn-lg" href="http://www.hodnorthamerica.org" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="row">
    <div class="container">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            {% if user.is_active %}
                <form action="{% url "application.views.update" %}" method="post" id="application-form">
            {% else %}
                <form action="{% url "application.views.post" %}" method="post" id="application-form">
            {% endif %}
                {% csrf_token %}
                {% bootstrap_form user_form %}
                {% bootstrap_form contact_form %}
                {% bootstrap_form personal_form %}
                {% bootstrap_form wife_form %}
                {% bootstrap_form occupation_form %}
                {% bootstrap_form hod_form %}
                {% for committee in current_committees_formset %}
                  {% bootstrap_form committee %}
                {% endfor %} 
                {% for child in children_formset %}
                  {% bootstrap_form child %}
                {% endfor %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary submit-application">Submit</button>
                {% endbuttons %}
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>    
</div>
{% endblock %}
