{% extends "layout.html" %}
{% load bootstrap3 %}

{% block body %}

<div class="row navbar-spacer"></div>
<div class="row thank-you-message">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <p>Thank you for submitting your application. You will receive confirmation 
        of the submission as well as a password to log in and edit your information 
        via the email address provided within 5 minutes.</p>
    </div>
    <div class="col-sm-2"></div>
</div>
    
{% endblock body %}

