{% extends "layout.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block extracss %}
    <link rel="stylesheet" href="{% static "login.css" %}">
{% endblock extracss %}

{% block body %}
        <div class="container">

            <form class="form-signin" action={% url 'accounts.views.login_view' %} method="post">
                {% csrf_token %}
                <h2 class="form-signin-heading">Please sign in</h2>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" name="login_email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>

        </div> <!-- /container -->
{% endblock body %}