{% load bootstrap3 %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hebrew Order of David International</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static "application.css" %}">
    {% block extracss %}{% endblock %}
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Hebrew Order of David International</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        {% if not user.is_active and 'login' not in request.get_full_path %}
          <form class="navbar-form navbar-right" role="form" action={% url 'accounts.views.login_view' %} method="post">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" name="login_email" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        {% elif 'login' not in request.get_full_path or user.is_active%}
          <p class="navbar-text pull-right">Welcome back {{ user.first_name }}! <a href="{% url 'accounts.views.logout_view' %}">Logout?</a></p>
        {% endif %}
      </div><!--/.navbar-collapse -->
    </div>
  </nav>

  {% block body %} {% endblock %}

</body>
{% bootstrap_javascript %}
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="{% static "application.js" %}"></script>
</html>